* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom,rgb(214,213,255), rgb(1,0,94));
    display: flex;
    justify-content: center;
    align-items: center;


}

main {
    background-color:rgba(180, 179, 255, 0.616) ;
    width: 80vw;
    height: 95vh;
    border-radius: 15px;
    box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.562);
}


#title {
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    padding-top: 1.1rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

#add-task {
    text-align: center;
    width: 10rem;
    height: 2rem;
    margin: 2rem;
    border: none;
    border-radius: 15px;
    outline: none;
}

#btn-submit,
#btn-reset {
    background-color: rgb(214,213,255);
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;

}

#task-list {
    background-color: rgb(255, 245, 218);
    text-align: center;
    margin-left: 2rem;
    width: 65vw;
    height: 60vh;
    border-radius: 15px;
    cursor: pointer;
    list-style: none;
    overflow: auto;


}

.new-task {
    padding: 0.5rem;
}

#btn-submit:hover,
#btn-reset:hover {
    cursor: pointer;
    background-color: rgb(1,0,94);
    color: rgb(255, 245, 218);
}

#text {
    text-align: center;
    font-size: small;
    font-style: italic;
    padding-top: 0.3rem;
}

#btn-reset {
    margin: 0.8rem 2rem;
}